### You’re given a dataframe containing sales data from a grocery store chain with columns for customer ID, gender, and date of sale.

### Create a new dataset with summary level information on their purchases including the columns:

* customer_id
* gender
* most_recent_sale
* order_count
* most_recent_sale should display the date of the customer’s most recent purchase. order_count should display the total number of purchases that the customer has made.

In [1]:
import pandas as pd

In [2]:
customers = {"customer_id" : [5156, 2982, 1011, 3854, 2982], "Gender" : ["m", "f", "m", "f", "f"], "Date of Sale" : ["2021-01-04", "2021-02-15", "2021-03-01", "2021-03-21", "2021-04-12"]}
customer_df = pd.DataFrame(customers)
customer_df.head()

   customer_id Gender Date of Sale
0         5156      m   2021-01-04
1         2982      f   2021-02-15
2         1011      m   2021-03-01
3         3854      f   2021-03-21
4         2982      f   2021-04-12

In [3]:
# option 1 is simpler
groupby_by_customer_df = customer_df.groupby(['customer_id','Gender']).agg({'customer_id': 'count', 'Date of Sale' : 'max'})
groupby_by_customer_df.rename(columns={'customer_id': 'order_count', 'Date of Sale': 'most_recent_sale'}, inplace= True)
groupby_by_customer_df.reset_index(inplace = True)
groupby_by_customer_df

   customer_id Gender  order_count most_recent_sale
0         1011      m            1       2021-03-01
1         2982      f            2       2021-04-12
2         3854      f            1       2021-03-21
3         5156      m            1       2021-01-04

In [4]:
# option 2 require anothr join and drop duplicates
groupby_by_customer_df = customer_df.groupby(['customer_id']).agg({'customer_id': 'count', 'Date of Sale' : 'max'})
groupby_by_customer_df.rename(columns={'customer_id': 'order_count', 'Date of Sale': 'most_recent_sale'}, inplace= True)
groupby_by_customer_df.reset_index(inplace = True)
df_custom_summary = pd.merge(groupby_by_customer_df, customer_df[['customer_id','Gender']].drop_duplicates(), how = 'inner', left_on='customer_id', right_on='customer_id')
df_custom_summary

   customer_id  order_count most_recent_sale Gender
0         1011            1       2021-03-01      m
1         2982            2       2021-04-12      f
2         3854            1       2021-03-21      f
3         5156            1       2021-01-04      m

### END