### Youâ€™re given a dataframe df_rain containing rainfall data. The dataframe has two columns: day of the week and rainfall in inches.

### Write a function median_rainfall to find the median amount of rainfall for the days on which it rained. You may assume it rained on at least one of the days.

In [1]:
import pandas as pd

rainfall = {"Day" : ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"], "Inches" : [0, 1.2, 0, 0.8, 1]}

df_rain = pd.DataFrame(rainfall)

In [2]:
df_rain.head()

         Day  Inches
0     Monday     0.0
1    Tuesday     1.2
2  Wednesday     0.0
3   Thursday     0.8
4     Friday     1.0

In [5]:
groupby_day_df = df_rain[df_rain['Inches']>0.0].groupby(['Day']).agg({'Inches': 'median'}).reset_index()
groupby_day_df

        Day  Inches
0    Friday     1.0
1  Thursday     0.8
2   Tuesday     1.2

### END