In [5]:
import pandas as pd

transactions = {"transaction_id" : [1, 2, 3, 4, 5], "product_id" : [101, 102, 103, 104, 105], "amount" : [3, 5, 8, 3, 2]}

products = {"product_id" : [101, 102, 103, 104, 105], "price" : [20.00, 21.00, 15.00, 16.00, 52.00]}

In [6]:
df_transactions = pd.DataFrame(transactions)
df_products = pd.DataFrame(products)

In [11]:
df = pd.merge(df_transactions, df_products, on="product_id", how="left")
df.head(5)

   transaction_id  product_id  amount  price
0               1         101       3   20.0
1               2         102       5   21.0
2               3         103       8   15.0
3               4         104       3   16.0
4               5         105       2   52.0

In [13]:
df['total'] = df['amount'] * df['price']
df.head(5)

   transaction_id  product_id  amount  price  total
0               1         101       3   20.0   60.0
1               2         102       5   21.0  105.0
2               3         103       8   15.0  120.0
3               4         104       3   16.0   48.0
4               5         105       2   52.0  104.0

In [20]:
tot = df.groupby('product_id')['total'].sum().reset_index(name ='product_total_amount')
tot.head(5)

   product_id  product_total_amount
0         101                  60.0
1         102                 105.0
2         103                 120.0
3         104                  48.0
4         105                 104.0

In [21]:
tot.loc[tot['product_total_amount'] > 100.0]

   product_id  product_total_amount
1         102                 105.0
2         103                 120.0
4         105                 104.0

In [ ]:
### End