### Given a dataframe with three columns:

* client_id
* ranking
* value
### Write a function to fill the NaN values in the value column with the previous non-NaN value from the same client_id ranked in ascending order. If there doesn’t exist a previous client_id then return the previous value.

In [1]:
import pandas as pd
import numpy as np

clients = {'client_id' : [1001, 1001, 1001, 1002, 1002, 1002, 1003, 1003], 
           'ranking' : [1, 2, 3, 1, 2, 3, 1, 2], 
           'value”' : [1000, np.NaN, 1200, 1500, 1250, np.NaN, 1100, np.NaN]}
clients_df = pd.DataFrame(clients)

In [2]:
def previous_nan_values(clients_df):
    X = clients_df.sort_values(['client_id', 'ranking']).fillna(method = 'ffill')
    X = X.sort_values('ranking')
    return X

In [3]:
previous_nan_values(clients_df)

   client_id  ranking  value”
0       1001        1  1000.0
3       1002        1  1500.0
6       1003        1  1100.0
1       1001        2  1000.0
4       1002        2  1250.0
7       1003        2  1100.0
2       1001        3  1200.0
5       1002        3  1250.0