### Youâ€™re given a dataframe df_cheeses containing a list of the price of various cheeses from California. The dataframe has missing values in the price column.

### Write a function cheese_median to impute the median price of the selected California cheeses in place of the missing values. You may assume at least one cheese is not missing its price.

In [1]:
import pandas as pd

cheeses = {"Name": ["Bohemian Goat", "Central Coast Bleu", "Cowgirl Mozzarella", "Cypress Grove Cheddar", "Oakdale Colby"], "Price" : [15.00, None, 30.00, None, 45.00]}

df_cheeses = pd.DataFrame(cheeses)
df_cheeses.head()

                    Name  Price
0          Bohemian Goat   15.0
1     Central Coast Bleu    NaN
2     Cowgirl Mozzarella   30.0
3  Cypress Grove Cheddar    NaN
4          Oakdale Colby   45.0

In [2]:
def cheese_median(df):
    df['Price'].fillna(df['Price'].median(), inplace=True)
    return df
cheese_median(df_cheeses)
df_cheeses.head()

                    Name  Price
0          Bohemian Goat   15.0
1     Central Coast Bleu   30.0
2     Cowgirl Mozzarella   30.0
3  Cypress Grove Cheddar   30.0
4          Oakdale Colby   45.0

In [3]:
def median(list):
    list.sort()
    n = len(list)
    if n % 2 == 1:
        median = list[n//2]
    else:
        # avg of two middle value
        median = (list[n//2] + list[(n//2) - 1]) / 2
    return median

def cheese_median(df_cheeses):

    cheese_prices = df_cheeses['Price']
    cleaned_prices = [x for x in cheese_prices if pd.isnull(x) == False]
            
    cheese_median = median(cleaned_prices)
    
    for i, row in df_cheeses.iterrows():
        if pd.isnull(row['Price']) == True:
            df_cheeses.loc[i, 'Price'] = cheese_median

    return df_cheeses

In [4]:
cheese_median(df_cheeses)
df_cheeses.head()

                    Name  Price
0          Bohemian Goat   15.0
1     Central Coast Bleu   30.0
2     Cowgirl Mozzarella   30.0
3  Cypress Grove Cheddar   30.0
4          Oakdale Colby   45.0

### END